.header {
    background-color: #fff;
    padding: 30px 0 60px;
}

.header__container_component {
    display: flex;
}

.header_component {
    padding-bottom: 40px;
    background-color: var(--grey-5);
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}

.header__title_component {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 16px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 37px;
    transition: all 0.6s linear;
}

.header__nav_component {
    display: block;
    position: absolute;
    left: 20px;
    top: 80px;
    z-index: 10;
}

.header__nav[data-open] {
    left: 0;
    width: 100vw;
    height: 100vh;
}

.header__logo {
    display: block;
    z-index: 30;
    position: absolute;
}

.header__logo_component {
    position: relative;
}

.header__icon {
    width: 110px;
    height: 32px;
    display: block;
}

.header__menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 23px;
    margin-right: 55px;
}

.header__menu_component {
    display: block;
}

.header__link {
    display: inline-block;
    font-family: 'Inter';
    line-height: 24px;
    padding: 8px 0;
    color: var(--grey-3);
    position: relative;
}

.header__menu_component .header__link {
    color: var(--black);
}

.header__link::before,
.header__link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--grey-3);
    transition: width .3s;
}

.header__link::before {
    bottom: 7px;
}

.header__link::after {
    bottom: 0;
}

.header__link:hover::before,
.header__link:hover::after {
    width: 100%;
}

.header__link_active {
    color: var(--black);
}

.header__menu_component .header__link_active {
    color: var(--red);
}

@media (max-width: 768px) {
    .header {
        padding: 96px 0 69px;
    }

    .header_component {
        padding: 16px 0;
    }

    .header__nav {
        flex-direction: column-reverse;
        align-items: flex-start;
        position: fixed;
        background-color: var(--grey-5);
        left: -100%;
        top: 0;
        padding: 80px 16px 40px;
        z-index: 10;
    }

    .header__menu {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 24px;
        margin-right: 0;
    }

    .header__logo {
        top: 17px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__logo_component {
        top: 0;
    }

    .header__title {
        max-width: 288px;
        font-size: 28px;
        line-height: 38px;
    }
}

@media (max-width: 480px) {
    .header__logo {
        left: auto;
        transform: none;
    }

    .header__icon {
        height: 30px;
        width: 104px;
    }
}