/* Стилизация кнопки */
.button {
 -webkit-appearance: none;
 -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 15px 57px 14px;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button_primary {
  background-color: #4263eb;
  color: var(--white);
}

.button_secondary {
  background-color: var(--purple);
  color: var(--white);
}

.button_alternate {
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
}

.button_primary:hover {
  background: #2342c0;
}

.button_secondary:hover {
  background: #5028c6;
}

.button_alternate:hover {
  border: 1px solid var(--black);
}

.button_primary:disabled {
  background: #4263eb;
  opacity: 0.5;
  cursor: not-allowed;
}

.button_secondary:disabled {
  background: var(--purple);
  opacity: 0.5;
  cursor: not-allowed;
}

.button_alternate:disabled {
  border: 1px solid var(--grey-3);
  opacity: 0.5;
  cursor: not-allowed;
}
