.burger {
    display: none;
}

.burger_component {
  display: block;
}

.burger__checkbox {
  position: absolute;
  top: 20px;
  left: 20px;
  outline: none;
  clip: rect(0, 0, 0, 0);
}

.burger__button {
  width: 32px;
  height: 32px;
}

.burger__button {
  display: inline-block;
  border-radius: 50%;
  background-color: var(--grey-2);
  position: absolute;
  top: 16px;
  left: 12px;
  z-index: 20;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.burger__button::before,
.burger__button::after {
  width: 24px;
  height: 2px;
}

.burger__button::before,
.burger__button::after {
  content: '';
  background-color: var(--black);
  position: absolute;
  top: 15px;
  left: 4px;
  transform: scale(0);
  transition: transform 0.3s ease-in;
  transition-delay: 0.3s;
}

.burger__line {
  width: 70%;
  height: 2px;
  position: absolute;
  left: 5px;
  background-color: var(--black);
  transition: transform 0.3s ease-in;
  transition-delay: 0.3s;
}

.burger__line:first-child {
    top: 7px;
}

.burger__line:nth-child(2) {
  top: 48%;
}

.burger__line:last-child {
  bottom: 7px;
}

.burger__checkbox:checked + .burger__button {
  transform: rotate(-90deg);
}

.burger__checkbox:checked + .burger__button > .burger__line {
  transform: translateY(50%) scale(0);
}

.burger__checkbox:checked + .burger__button::before {
  transform: rotate(45deg) scale(1);
}

.burger__checkbox:checked + .burger__button::after {
  transform: rotate(-45deg) scale(1);
}

.burger__checkbox:checked  ~ .header__nav .toggler .toggler__icon {
    display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}