.header__button {
  width: 32px;
  height: 32px;
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 12px;
  display: none;
}

.header__button_close {
  border-radius: 50%;
  background-color: var(--grey-2);
}

.header__button_svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .header__button_open,
  .header__button_close {
    display: block;
  }
}
