.checkbox__label {
    display: inline-flex;
    position: relative;
}

.checkbox__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-3);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    cursor: pointer;
}

.checkbox__icon {
    width: 16px;
    color: var(--white);
    opacity: 0;
    transition: opacity .4s;
}

.checkbox__title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
      color: var(--grey-4);
}

.checkbox__input:checked + .checkbox__state .checkbox__control {
    background-color: var(--blue-light);
    border-color: var(--blue-light);
}

.checkbox__input:checked + .checkbox__state .checkbox__icon {
    opacity: 1;
}

.checkbox__input:focus + .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:disabled {
    pointer-events: none;
}

.checkbox__input:disabled + .checkbox__state .checkbox__control {
    background-color: var(--grey-3);
}

.checkbox__input:disabled + .checkbox__state .checkbox__control {
    cursor: not-allowed;
}

.checkbox__input:disabled + .checkbox__state .checkbox__title {
    color: var(--grey-3);
}