/* Стилизация кнопки */
.button {
 -webkit-appearance: none;
 -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 15px 57px 14px;
  border-radius: 8px;
  background-color: transparent;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.button:active {
  transform: translateY(0px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.button_primary {
  background-color: #4263eb;
  color: var(--white);
}

.button_secondary {
  background-color: var(--purple);
  color: var(--white);
}

.button_alternate {
  border: 1px solid var(--grey-3);
  color: var(--grey-4);
}

.button_primary:hover {
  background: #2342c0;
}

.button_secondary:hover {
  background: #5028c6;
}

.button:disabled {
  opacity: 0.5;
  pointer-events: none;
}


