.avatar {
    width: 200px;
    height: 200px;
}

.avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.avatar_small {
    width: 160px;
    height: 160px;
    margin: 25px auto 0;
}