.header__themes {
    width: 127px;
    position: relative;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.toggler__mode {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    display: none;
}

.header__themes_checkbox {
    display: none;
}

.header__themes_label {
    width: 52px;
    height: 28px;
    display: inline-block;
    border-radius: 16px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    margin: 0 11px;
    position: relative;
    cursor: pointer;
}

.header__themes_label::after {
    content: "";
    width: 24px;
    height: 24px;
    background: var(--grey-3);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.2s ease-in;
}

.header__themes_checkbox:checked + .header__themes_label {
    background-color: var(--grey-3);
}

.header__themes_checkbox:checked + .header__themes_label::after {
    background-color: var(--white);
}

.header__themes_checkbox:checked + .header__themes_label::after {
    transform: translateX(24px);
}

@media (max-width: 768px) {
    .header__themes {
        width: 100%;
        padding: 24px 0;
        margin-right: 0;
        border-top: 1px solid var(--grey-2);
        border-bottom: 1px solid var(--grey-2);
    }

    .header__themes_label {
        margin-right: 0;
        margin-left: auto;
    }

    .toggler__mode {
        display: block;
    }
}