.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 64px;
}

.cards__item {
    width: 350px;
    height: 367px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgb(33 36 41 / 5%);
    border-radius: 12px;
    padding: 32px 25px;
    position: relative;
    transition: all 0.3s;
}

.cards__item:hover {
   box-shadow: 5px 5px 8px rgb(33 36 41 / 8%);
}

.cards__link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.cards__item_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 7px;
}

.cards__item_subtitle {
    font-family: 'Roboto';
    line-height: 19px;
    text-align: center;
}

.cards__item_body {
    text-align: center;
}

.cards__item_form {
    display: flex;justify-content: space-between;
    padding: 49px 26px 0;
}

@media (max-width: 420px) {
    .cards__item {
        max-width: 350px;
    }
}
