.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 5px;
}

.container_header {
    padding-left: 15px;
}

@media (max-width: 1180px) {
    .container {
        padding: 0 16px;
    }
}