.container {
    max-width: 1110px;
    margin: 0 auto;
}

.container__component {
    position: relative;
    width: 100%;
}

@media (max-width: 1180px) {
    .container {
        padding: 0 16px;
    }

    .container__component_main {
        padding: 0;
    }

}