@import '../fonts/fonts.css';
@import '../../components/accordion/accordion.css';
@import '../../components/avatar/avatar.css';
@import '../../components/burger-menu/burger-menu.css';
@import '../../components/button/button.css';
@import '../../components/calendar/calendar.css';
@import '../../components/cards/cards.css';
@import '../../components/checkbox/checkbox.css';
@import '../../components/container/container.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/histogram/histogram.css';
@import '../../components/input/input.css';
@import '../../components/modal/modal.css';
@import '../../components/page/page.css';
@import '../../components/preview/preview.css';
@import '../../components/radio/radio.css';
@import '../../components/tabs/tabs.css';
@import '../../components/toggler/toggler.css';
@import '../../components/tooltip/tooltip.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --blue-text: #334D6E;
    --blue-light: #4263EB;
    --blue-grey: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: #90A0B7;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    border: none;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--black);
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.hidden {
    overflow-y: hidden;
}




