.component {
    padding: 32px 0 64px;
    background-color: var(--white);
    border-radius: 12px;
}

.component__margin {
    margin-left: 65px;
}

.component__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    color: var(--grey-4);
    padding-left: 48px;
    margin-top: 0;
    margin-bottom: 58px;
}

.component__body {
    max-width: 400px;
    padding: 0 0 0 48px;
    margin-bottom: 101px;
}

.component__code {
    border-top: 1px solid var(--grey-2);
    padding: 50px 106px 0 48px;
    position: relative;
}

.component__html,
.component__css {
    max-height: 50vw;
    text-align: left;
    overflow: auto;
}

@media (max-width: 768px) {
    .component {
        border-radius: 0;
        padding: 32px 16px;
    }

    .component__margin {
        margin-left: 0;
    }

    .component__title {
        font-size: 20px;
        padding-left: 0;
    }

    .component__button {
        top: 0;
    }
}