.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(196, 196, 196, 0.5);
}

.modal_small {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.modal_open {
    display: block;
}

.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 428px;
    padding: 30px 40px 33px;
    background: var(--white);
    border-radius: 8px;
}

.modal__window_small {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transform: none;
}

.modal__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-text);
}

.modal__content {
    font-family: 'Inter';
    line-height: 24px;
    color: var(--grey-4);
    margin-top: 14px;
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.modal__icon_svg {
    width: 16px;
    height: 16px;
}

.modal__window_small .button {
    font-size: 10px;
    padding: 5px 35px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10px;
}

#modal-open {
    position: relative;
    top: 25px;
    left: 25px;
}

