.menu{
    padding-right: 80px;
}

.menu__title {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 16px;
}

.menu__list {
    list-style: none;
    margin-bottom: 30px;
}

.menu__link {
    font-family: 'Inter';
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
}

.menu__link_active {
    color: var(--red-alert);
}

.menu__item:not(:last-child) {
    margin-bottom: 4px;
}