.histogram {
  padding: 16px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  border: 1px solid #acb5bd;
  border-radius: 8px;
}

.histogram__info {
  display: flex;
  justify-content: space-between;
}

.histogram__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: inherit;
  color: var(--black);
  opacity: 0.8;
}

.histogram__sum {
  font-size: 20px;
  line-height: 26px;
  color: var(--black);
  margin-top: 6px;
}

.histogram__link {
  display: inline-block;
  line-height: 24px;
  color: var(--blue-light);
  text-decoration: none;
  margin-top: 3px;
}

.histogram__items {
    height: 50px;
    display: flex;
    gap: 1px;
    align-items: flex-end;
}

.histogram__item {
    background-color: var(--blue-light);
    flex-grow: 1;
}

.histogram__small {
  gap: 10px;
}

.histogram__title_small,
.histogram__link_small {
  font-size: 13px;
}
