.preview {
    text-align: center;
    background-color: var(--grey-5);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
    position: relative;
}

.preview_component {
    min-height: 520px;
    border: none;
    text-align: left;
}