.input {
    width: fit-content;
    position: relative;
}

.input__label {
    display: block;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.input__element {
    display: inline-block;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    outline: none;
    padding: 17px 40px 13px 24px;
    width: 350px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.input__element::placeholder {
    color: var(--grey-2);
}

.input__element:focus {
    border-color: var(--blue-light);
}

.input__state {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    bottom: -2px;
    margin-left: -38px;
}

.input__icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: all .4s;
}

.input__icon_success {
    color: var(--blue-light);
}

.input__icon_error {
    color: var(--red);
}

.input__success .input__state .input__icon_success {
    opacity: 1;
}

.input__error .input__element {
    border-color: var(--red);
}

.input__element_error:focus {
    border-color: var(--red);
}

.input__error .input__state .input__icon_error {
    opacity: 1;
}