<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="component.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="page__header">
            <div class="container"></div>
        </div>
        <div class="page__main">
            <div class="container page__container">
                <div class="menu">
                    <h2 class="menu__title">Components</h2>
                    <ul class="menu__list">
                        <li class="menu__item"><a href="" class="menu__link">Modal</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Tooltip</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Avatar</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Calendar</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Histogram</a></li>
                        <li class="menu__item"><a href="" class="menu__link">Custom form elements</a></li>
                    </ul>
                    <a href="" class="menu__link">Main page</a>
                </div>
                <div class="component"></div>
            </div>
        </div>
        <div class="page__footer">
            <div class="container">
                <p class="page__footer_text">Reusable component library</p>
            </div>
        </div>
    </div>
</body>
</html>